<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm password change attempt</title>
</head>
<body>
    <section>
        <div>
            <h1>Hello! {{ .UserName}}</h1>
        </div>
        <div>
            <p>Hi we detect an attempt to change your password, we just want to make sure that it's you :)</p>
            <p>NOTE: if you don't recognize this attempt just ignore this mail.</p>
        </div>
        <div>
            <a href="{{ .ConfirmationLink}}">Click Here to confirm the attempt</a>
            <strong>If you don't recognize this password change attempt to do not make click and ignore this mail</strong>
        </div>
    </section>
</body>
</html>