<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm Two steps verification change</title>
</head>
<body>
    <main>
        <div>
            <h1>Hello! {{ .UserName}}</h1>
            <p>Looks like you're trying to change your Two Steps Verification (TSV) settings</p>
            <a href="{{ .Link}}">Click here to confirm</a>
        </div>
    </main>
</body>
</html>